#include <behaviors.dtsi>
#include <behaviors/runtime_macro.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC        &kp Q  &kp W  &kp E  &kp R                   &kp T                                &kp Y          &kp U                     &kp I      &kp O    &kp P     &kp BACKSPACE
&mt LCTRL TAB  &kp A  &kp S  &kp D  &kp F                   &kp G                                &kp H          &kp J                     &kp K      &kp L    &kp SEMI  &kp SINGLE_QUOTE
&kp LSHFT      &kp Z  &kp X  &kp C  &kp V                   &lt 3 B  &kp LEFT_WIN    &kp DELETE  &kp N          &kp M                     &kp COMMA  &kp DOT  &kp FSLH  &kp MINUS
                                    &mt LEFT_COMMAND LANG2  &mo 1    &lt 0 SPACE     &kp ENTER   &kp BACKSPACE  &mt RIGHT_GUI LANGUAGE_1
            >;
        };

        symbol {
            bindings = <
&trans  &kp AMPERSAND  &kp N7        &kp N8        &kp N9        &kp DOLLAR                                 &kp CARET         &kp ASTERISK          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL        &kp PLUS
&trans  &kp HASH       &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PERCENT                                &kp LEFT_BRACE    &kp RIGHT_BRACE       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp COLON        &kp DOUBLE_QUOTES
&trans  &kp AT_SIGN    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0       &kp PERIOD    &studio_unlock  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp LESS_THAN         &kp GREATER_THAN       &kp EXCLAMATION  &kp UNDERSCORE
                                                   &trans        &trans       &trans        &trans          &trans            &trans
            >;
        };

        number {
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp PLUS
&trans  &trans        &trans        &trans        &trans        &trans                          &kp COMMA     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &none         &kp EQUAL
&trans  &trans        &trans        &trans        &trans        &trans        &trans    &trans  &kp PERIOD    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none         &kp MINUS
                                                  &trans        &trans        &trans    &trans  &trans        &kp N0
            >;
        };

        bluetooth {
            bindings = <
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR_ALL  &trans        &trans        &trans        &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                                          &trans        &trans        &trans    &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &trans  &kp PAGE_UP  &kp UP    &kp PAGE_DOWN  &kp HOME  &kp C_VOLUME_UP
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &kp LEFT     &kp DOWN  &kp RIGHT      &kp END   &kp C_VOLUME_DOWN
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans       &trans    &trans         &trans    &kp K_MUTE
                                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
